@use "./variables" as var;
@use "./container" as cont;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var.$font-default;
}

body {
  background-color: var.$body-bg-color;
}
a,
svg {
  transition: 0.4s;
}
